import("methods")

importFrom("stats",
	   "predict",
           "weights",
           "profile")

importFrom("graphics",
           "plot")

export("readCCModel")

exportClasses("CCModel", "CCProfile")
exportMethods("predict", "show", "plot", "weights", "profile")
