import("methods")

importFrom("stats",
           "weights",
           "profile",
           "predict",
           "fitted")

importFrom("graphics",
           "plot")

importFrom("utils",
           "read.table",
           "write.table")

importFrom("S4Vectors",
           "metadata")

import("Biostrings")

import("kebabs")

export("readCCModel", "writeCCModel")

exportClasses("CCModel", "CCProfile")
exportMethods("predict", "show", "plot", "weights", "profile",
              "fitted", "heatmap")
